body .container {
  padding: 20px;
  min-width: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body {
  background: #09090b;
  margin: 2px;
  color: #fafafa;
}

button {
  padding: 0 0.75rem;
  border: none;
  border-radius: 0.75em;
  line-height: 1.5rem;
  cursor: pointer;
  font-size: 0.75em;
  color: #09090b;
  font-weight: 500;
  background-color: #fafafa;
  opacity: 100%;
  transition: all 0.2s ease-in-out;
}
button:hover {
  box-shadow: 0px 0px 2px rgb(121, 190, 190);
  background-color: #151715;
  color: #fafafa;
}
h1 {
  margin-top: 0 !important;
  margin-bottom: 0.75rem;
}
p {
  margin-bottom: 0 !important;
  font-size: 8px;
  margin-top: 25px;
}
a {
  color: rgb(121, 190, 190);
  text-decoration: none;
}
